#heading {
	font-family: 'alpaca scarlett demo', sans-serif;
	font-size: 32px;
	margin-left: 20px;
}

#logo_and_title {
	margin-left: -30px;
	margin-top: 0px;
}

#logo {
	float: right;
	margin-top: 120px;
	width: 300px;
	height: auto;
	margin-right: 35%;
	opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    animation-delay: .5s;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

#logo_title {
	margin-top: 30px;
	margin-left: 340px;
  margin-bottom: 100px;
	width: 500px;
	height: auto;
	  opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    animation-delay: 2s;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

#move_description {
	margin-top: 150px;
}

#farm {
	width: 100%;
    -webkit-box-reflect:below -1px
    -webkit-gradient(linear, left top, left bottom, from(transparent),
    color-stop(20%, transparent) , to(rgba(250, 250, 250, 0.9)));
}

#bio {
	margin-top: 200px;
	font-family: 'avenir next';
	font-size: 24px;
	margin-left: 200px;
	margin-right: 200px;
	text-align: center;
}

#brooklyn {
  opacity: 0;
  margin-top: 80px;
  width: 100%;
  /*-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(1,0,0,1)), to(rgba(0,0,0,0)))*/
  }

#leaf1 {
  float: left;
  margin-left: 30px;
  margin-top: -75px;
}

#leaf2 {
  float: right;
  margin-right: 30px;
  margin-top: -150px;
}

#leaf3 {
  float: left;
  margin-top: -250px;
}

#leaf4 {
  float: left;
  margin-left: 400px;
  margin-top: -350px;
}

#leaf5 {
  float: right;
  width: 45px;
  height: auto;
  margin-right: 10px;
  margin-top: -250px;
}

#inspiration {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 36px;
  font-family: 'avenir next';
  text-align: center;
}

#move_instagram {
  margin-top: 50px;
}

h1{
  color: black;
  font-family: 'alpaca scarlett demo', sans-serif;
  font-weight: 200;
  font-size: 32px;
  margin-left: 50px;
  text-align: center;
  margin-top: 140px;
}

li {
  font-family: 'avenir next';
}


#container
{
    height:2000px;
}

#container DIV
{
	margin-top: 100px;
    margin-left:150px;
    margin-right: 100px;
    text-align: justify;
}

.hideme
{
    opacity:0;
    font-size: 48px;
	font-weight: 500;
  margin-left: 50px;
  text-align: center;
	font-family: 'alpaca scarlett demo', sans-serif;

}

@-webkit-keyframes example {
    from {margin-left: -200px;}
    to {margin-left: 50px;}
}

#cbd_heading {
	margin-top: 150px;
	margin-bottom: -50px;
	margin-left: 100px;
	font-family: 'avenir next';
	font-size: 32px;
}

body{
  font-family: 'Noto Sans', sans-serif;
	margin:0;
	width:100%;
	height:100vh;
  	background:#ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
header{
	width:100%;
	background:#ffffff;
	height:60px;
	line-height:60px;
	border-bottom:1px solid #dddddd;
}
.hamburger{
  background:none;
  top:0;
  right:0;
  line-height:65px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  top:0px;
  right:0;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:relative; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
header{display:inline-block; font-size:12px;}
span{padding-left:20px;}
a{color:#336699;}

a {
  color: black;
}

p {
  color: black;
}

#center-logo {
	width:100%;
	background-color:#fff;
}

#gw-logo {
	padding-top: 2%;
	width: 25%;
	z-index: 10000;
	margin-top: 0;
	margin-left: 37.5%;
	margin-right: 37.5%;
	position: fixed;
}

#background_white {
  background-color: white;
}

.nav {
  float: left;
  font-size: 18px;
  font-family: 'avenir next';
  margin-left: 130px;
  font-color: black;
  /*background-color: #606060 ;*/
  color: fff;
}

.meet_the_coven_nav {
  float: left;
  font-size: 18px;
  font-family: 'avenir next';
  margin-left: 140px;
  font-color: black;
  /*background-color: #606060 ;*/
  color: fff;
}

.nav:hover {
  color: #c2bd8f ;
  cursor: pointer;
}

.meet_the_coven_nav:hover {
  color: #c2bd8f ;
  cursor: pointer;
}

#nav_bar {
  float: left;
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 1000;
	border-bottom: 1px solid;
  border-color:#c2bd8f;
	padding-top: 7%;
}

.nav:hover {
  color: #c2bd8f;
  cursor: pointer;
}

.meet_the_coven_nav:hover {
  color: #c2bd8f;
  cursor: pointer;
}


.container {
	padding-top: 10%;
	padding-bottom:2%;
}

#follow_us {
  font-size: 32px;
  font-weight: 800;
  padding-top: 10px;
  font-family: 'avenir next';
  margin-left: 365px;
  z-index: 10000;
}

#color_container {
	padding-top: 2%;
  padding-bottom: 20%;
  margin-top: 40%;
	height:20%;
  width: 100%;
  background-color: #ddd9c5;
  opacity: .85;
  z-index: -1;
}

#move_icon {
  float: left;
  margin-top: 0%;
  margin-left: 430px;
  text-align: center;
}

.icon {
  float: left;
  width: 50px;
  height: auto;
  margin-left: 10px;
}

.icon:hover {
  opacity: .5;
}

.tech-slideshow {
  height: 225px;
  margin-top: -50px;
  margin-left: 150px;
  max-width: 800px;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
   opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    animation-delay: 2s;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.tech-slideshow > div {
  height: 600px;
  width: 2526px;
  background: url(slideshow.png);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 30s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 30s linear infinite;
}


@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}

/*clock divider/countdown*/

#clockdiv{
	float: right;
  padding-top: 2%;
	margin-top: 10px;
	margin-right: 28%;
	font-family: 'avenir next';
	display: inline-block;
	font-weight: bold;
	text-align: center;
  color: black;
	font-size: 24px;

}


#clockdiv > div{
	padding: 20px;
  margin-left: 40px
	border-radius: 5px;
	background: #ddd9c5;
	display: inline-block;
}

#clockdiv div > span{
	padding: 20px;
  margin-left: 40px
	border-radius: 3px;
	background: white;
	display: inline-block;
}

.smalltext{
	padding-top: 10px;
	font-size: 20px;
  color: black;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  50% {
  	opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
 0% {
    opacity:0;
  }
  50% {
  	opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  50% {
  	opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  50% {
  	opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  50% {
  	opacity:0;
  }
  100% {
    opacity:1;
  }
}


@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
